@media screen and (min-width: 600px) {
  html {
    font-size: 112.5%; /* 18px */
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: var(--font-family-body);
  line-height: 1.75;
  word-wrap: break-word;
}
